.CategoryList-item,
.CategoryList-title {
    list-style: none;
}
.CategoryList-title {
    margin-bottom: 20px;
}

.CategoryList.list-group-horizontal-md {
    display: flex;
    justify-content: center;
}

.CategoryList .CategoryItem {
    margin-bottom: 10px;
}
.CategoryList.list-group-horizontal-md .CategoryItem {
    margin-right: 10px;
}

