body {
  background-color: rgba(250,250,250,1) !important;
}

.App {
  text-align: center;
  height: 200px;
}

button:focus {
  outline: none !important;
}

/*rgb(41,109,169)*/
.color-primary { color: #296da9; }
.background-primary { color: #296da9; }

/*rgb(251,176,59)*/
.color-yellow { color: #fbb03b; }
.background-yellow { background-color: #fbb03b; }

/*rgb(41,171,226)*/
.color-blue { color: #29abe2; }
.background-blue { background-color: #29abe2; }

/*rgb(242,242,242)*/
.color-light { color: #f2f2f2; }
.background-light { background-color: #f2f2f2; }

/*rgb(0,0,37)*/
.color-dark { color: #000025; }
.background-dark { background-color: #000025 !important; }
