.headline-xs {
    font-family: 'Muli', sans-serif;
    font-size: 0.6em !important;
    font-weight: 400 !important;
}
.headline-sm {
    font-family: 'Muli', sans-serif;
    font-size: 0.8em !important;
    font-weight: 500 !important;
}
.headline-md {
    font-family: 'Muli', sans-serif;
    font-size: 1em !important;
}
.headline-lg {
    font-family: 'Oxygen', sans-serif;
    font-size: 1.2em !important;
}
.headline-xl {
    font-family: 'Oxygen', sans-serif;
    font-size: 1.4em !important;
}