.headline-xs {
    font-family: 'Heebo', sans-serif;
    font-size: 0.8em !important;
    font-weight: 400 !important;
}
.headline-sm {
    font-family: 'Heebo', sans-serif;
    font-size: 1em !important;
    font-weight: 400 !important;
}
.headline-md {
    font-family: 'Heebo', sans-serif;
    font-size: 1.2em !important;
    font-weight: 400 !important;
}
.headline-lg {
    font-family: 'Raleway', sans-serif;
    font-size: 1.8em !important;
}
.headline-xl {
    font-family: 'Raleway', sans-serif;
    font-size: 2em !important;
}