.Header {
    background-color: rgba(255,255,255,1);
    border-bottom: 1px solid rgba(219,219,219,1);
}

.Header-logo {
    width: 100%;
    text-align: center;
    border: 0;
    background-color: transparent;
}
.Header-logo-img {
    width: 87%;
    height: 65px;
}
.Header-list {
    justify-content: flex-start;
    flex-direction: initial;
    align-items: flex-end;
    height: 93%;
}
.Header-item-button {
    border: 0;
    background: transparent;
    padding: 7px 14px;
    font-size: 1.4em;
}